/* 검색창 */
.cpSearch {
  background-color: lightgray;
  padding-left: 625px;
  padding-bottom: 55px;
}
.cpInput {
  width: 400px;
  padding: 15px 20px;
  box-sizing: border-box;
  border: none;
  background-color: white;
  color: rgb(49, 49, 49);
  font-weight: bold;
  border-radius: 25px;
  margin-top: 75px;
}

input:focus {
  outline: none;
}

.cpBtn {
  width: 70px;
  height: 45px;
  border-radius: 25px;
  border: none;
  background-color: #008cba;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  font-family: "paybooc";
}

.backPic {
  background-color: lightgray;
  padding-bottom: 50px;
  float: left;
  width: 1705px;
}

.champBox {
  width: 675px;
  height: 500px;
  background-color: #f9f9fa;
  margin-left: 7%;
  overflow-y: scroll;
  padding-left: 50px;
  float: left;
  border-radius: 10px;
  /* margin-left: 10px; */
}

.champPic {
  width: 150px;
  height: 150px;
  background-color: #f9f9fa;
  float: left;
  margin-top: 50px;
  margin-left: 300px;
  border-radius: 15px;
}

.champRate {
  width: 450px;
  height: 200px;
  background-color: white;
  float: left;
  margin-top: 50px;
  margin-left: 150px;
}
