.selectBg {
  background-color: lightgray;
  padding-left: 1170px;
}

.select {
  margin-top: 75px;
  width: 100px;
  height: 30px;
}

.lineBtnbox {
  width: 1268px;
  height: 50px;
  position: absolute;
  /* margin-top: 300px; */
  padding-left: 25%;
  background-color: lightgray;
}

.lineBtn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: #008cba;
  border: none;
  cursor: pointer;
}

.lineBtn:active {
  background-color: #111;
}

.time {
  position: absolute;
  padding-left: 25%;
  padding-bottom: 50px;
  /* margin-top: 100px; */
  background-color: lightgray;
  width: 75%;
}

.timeBtn {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: white;
  background-color: #008cba;
  border: none;
}

.printChamp {
  width: 67%;
  height: 200px;
  background-color: #f9f9f9;
  border-radius: 10px;
}
