a {
  text-decoration: none !important;
  color: black;
}

@font-face {
  font-family: "paybooc";
  src: url(./fonts/paybooc\ Medium.ttf);
}

@font-face {
  font-family: "air";
  src: url(./fonts/Cafe24Ohsquareair.ttf);
}
